
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: rgb(24 24 24);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "header    "
      "contenido "
      "footer    ";
  }




/*INICIO DE MI HEADER*/



.img-saludo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://w.forfun.com/fetch/1a/1ab8941a0bc59bf398eb1d499fa360d9.jpeg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    margin-top: 105px;
}


.text-saludo {
    position: absolute;
    top: 54%;
    margin: 0% 20%;
    text-align: center;
    color: white;
}

  
  
.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 1rem;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    grid-area: header;
    background-color: rgba(36, 36, 36);
    flex-direction: column;
    grid-area: header;
}
  
.header .logo {
    cursor: pointer;
    margin: 7px 0;
}
  
.header .logo img {
    height: 50px;
    transition: all 0.3s;
}
  
.header .logo img:hover {
    transform: scale(1.2);
}
  
.header .nav-links {
    list-style: none;
}
  
.header .nav-links li {
    display: inline-block;
    padding: 5px 20px;
}
  
.header .nav-links .li:hover {
    transform: scale(1.1);
}
  
.header .nav-links a {
    font-size: 15px;
    color: gold;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
  
.header .nav-links li:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
}
  
.header .nav-links li a:hover {
    color: white;
    transform: scale(1.1);
    transition: all 400ms ease;
}
  
.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
  
.menu-icon img:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
}
  
.menu-icon, #check {
    display: none;
}
  
/*FIN DE MI HEADER*/


.contenido {
    grid-area: contenido;
}

.acerca-de-mi {
    padding: 2rem;
    padding-top: 52%;
    text-align: center;
}

.datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 5% 20%;
}

.img-yo {
    width: 100%;
}

.img-datos {
    text-align: center;
}

.img-datos a {
    text-decoration: none;
}

.img-datos img:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
  }

.img-contacto {
    width: 40px;
    margin: 10% 4% 0% 4%;
}

.lista li {
    padding: 0.5rem;
    list-style: none;
}

.boton-cv {
    height: 5%;
    width: 22%;
    background: gold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.boton-cv:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
}

.subtitulos {
    margin: 0% 20% 2rem 20%;
    text-align: center;
}

.lenguajes {
    padding: 2rem 20%;
    background: linear-gradient(to right, #0f0c29, #302b63);
}

.lenguajes img{
    width: 80px;
}

.lenguajes img:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
}

.conocimientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 10% 0%;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.conocimientos > div {
    width: 33.33%;
    /* margin: 0 39px; */
}

.experiencias {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 0 20%;
}

.xp {
    display: grid;
    grid-template-columns: 15% 87%;
    background-color: rgb(30 30 40);
    padding: 1rem;
    border-radius: 10px;
}


.portafolio {
    width: 20px;
}

.color {
    background: linear-gradient(to right, #302b63, #0f0c29);
    padding-bottom: 3rem;
    padding-top: 2rem;
}




.testimonios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 20%;
}

.testimonios img {
    width: 30px;
    border-radius: 25px;
}

.referencias {
    /*display: grid;*/
    grid-template-columns: 15% 85%;
    background-color: rgb(30 30 40);
    padding: 1rem;
    border-radius: 10px;
}

.img-text-testimonios {
    display: grid;
    grid-template-columns: 25% 75%;
}

.card-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1rem;
    margin: 0px 20%;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    height: 380px;
    background-color: gold;
    border-radius: 7px;
    padding: 1rem;
    color: indigo;
}

.tarjetas input {
    display: block;
    margin: auto;
    height: 25%;
    width: 35%;
    background: red;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.tarjetas input:hover {
    
    transform: scale(1.1);
    transition: all 150ms ease;
}

.tarjetas img {
    width: 245px;
    border-radius: 7px;
}



















































































.slider-1 {
    width: 245px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.sliders-1 {
    width: 500%;
    height: 500px;
    display: flex;
}

.sliders-1 input {
    display: none;
}

.slide-1 {
    width: 20%;
    transition: 2s;
}

.slide-1 img {
    width: 245px;
    /* height: 500px; */
}


/* css navegacion manul slider */

.navegacion-manual-1 {
    position: absolute;
    width: 250px;
    margin-top: -348px;
    display: flex;
    justify-content: center;
}

.manual-btn-1 {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn-1:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-1:hover {
    background: #40d3dc;
}


/* radio */

#radio1-1:checked~.primero {
    margin-left: 0px;
}

#radio2-1:checked~.primero {
    margin-left: -20%;
}

#radio3-1:checked~.primero {
    margin-left: -40%;
}

#radio4-1:checked~.primero {
    margin-left: -60%;
}

/* navegacion automatica css  */

.navegacion-auto-1 {
    position: absolute;
    display: flex;
    width: 250px;
    justify-content: center;
    margin-top: 152px;
}

.navegacion-auto-1 div {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navegacion-auto-1 div:not(:last-child) {
    margin-right: 40px;
}

#radio1-1:checked~.navegacion-auto-1 .auto-btn1 {
    background: #40d3dc;
}

#radio2-1:checked~.navegacion-auto-1 .auto-btn2 {
    background: #40d3dc;
}

#radio3-1:checked~.navegacion-auto-1 .auto-btn3 {
    background: #40d3dc;
}

#radio4-1:checked~.navegacion-auto-1 .auto-btn4 {
    background: #40d3dc;
}

































.slider-2 {
    width: 245px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.sliders-2 {
    width: 500%;
    height: 500px;
    display: flex;
}

.sliders-2 input {
    display: none;
}

.slide-2 {
    width: 20%;
    transition: 2s;
}

.slide-2 img {
    width: 245px;
    /* height: 500px; */
}


/* css navegacion manul slider */

.navegacion-manual-2 {
    position: absolute;
    width: 250px;
    margin-top: -348px;
    display: flex;
    justify-content: center;
}

.manual-btn-2 {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn-2:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-2:hover {
    background: #40d3dc;
}


/* radio */

#radio1-2:checked~.primero {
    margin-left: 0px;
}

#radio2-2:checked~.primero {
    margin-left: -20%;
}

#radio3-2:checked~.primero {
    margin-left: -40%;
}

#radio4-2:checked~.primero {
    margin-left: -60%;
}

/* navegacion automatica css  */

.navegacion-auto-2 {
    position: absolute;
    display: flex;
    width: 249px;
    justify-content: center;
    margin-top: 152px;
}

.navegacion-auto-2 div {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navegacion-auto-2 div:not(:last-child) {
    margin-right: 40px;
}

#radio1-2:checked~.navegacion-auto-2 .auto-btn1 {
    background: #40d3dc;
}

#radio2-2:checked~.navegacion-auto-2 .auto-btn2 {
    background: #40d3dc;
}

#radio3-2:checked~.navegacion-auto-2 .auto-btn3 {
    background: #40d3dc;
}

#radio4-2:checked~.navegacion-auto-2 .auto-btn4 {
    background: #40d3dc;
}































.slider-3 {
    width: 245px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.sliders-3 {
    width: 500%;
    height: 500px;
    display: flex;
}

.sliders-3 input {
    display: none;
}

.slide-3 {
    width: 20%;
    transition: 2s;
}

.slide-3 img {
    width: 245px;
    /* height: 500px; */
}


/* css navegacion manul slider */

.navegacion-manual-3 {
    position: absolute;
    width: 250px;
    margin-top: -348px;
    display: flex;
    justify-content: center;
}

.manual-btn-3 {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn-3:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-3:hover {
    background: #40d3dc;
}


/* radio */

#radio1-3:checked~.primero {
    margin-left: 0px;
}

#radio2-3:checked~.primero {
    margin-left: -20%;
}

#radio3-3:checked~.primero {
    margin-left: -40%;
}

#radio4-3:checked~.primero {
    margin-left: -60%;
}

/* navegacion automatica css  */

.navegacion-auto-3 {
    position: absolute;
    display: flex;
    width: 250px;
    margin-top: 152px;
    justify-content: center;
}

.navegacion-auto-3 div {
    border: 1px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navegacion-auto-3 div:not(:last-child) {
    margin-right: 40px;
}

#radio1-3:checked~.navegacion-auto-3 .auto-btn1 {
    background: #40d3dc;
}

#radio2-3:checked~.navegacion-auto-3 .auto-btn2 {
    background: #40d3dc;
}

#radio3-3:checked~.navegacion-auto-3 .auto-btn3 {
    background: #40d3dc;
}

#radio4-3:checked~.navegacion-auto-3 .auto-btn4 {
    background: #40d3dc;
}














































/*INICIO DEL FOOTER*/

footer {
    grid-area: footer;
  }
  
  .footer-grid {
    grid-area: footer;
  }
  
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(30, 30, 30);
  }
  
  .bloque2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .bloque2 a{
    text-decoration: none;
    color: white;
  }
  
  .bloque2 a:hover {
    color: gold;
    transform: scale(1.1);
    transition: all 150ms ease;
  } 
  
  .bloque3 {
    margin: 17px;
    text-align: center;
  }
  
  .bloque3 a{
    text-decoration: none;
    color: white;
  }
  
  .bloque3 a:hover {
    color: gold;
    transform: scale(1.1);
    transition: all 150ms ease;
  }
  
  .footer-grid h2{
    font-size: 20px;
  }
  
  .JAPP-KING {
    width: 200px;
    display: block;
    margin: auto;
  }

  .JAPP-KING:hover{
    transform: scale(1.3);
    transition: all 150ms ease;
  
}
  
.iconos {
    width: 40px;
    margin: 15px 5px 0 5px;
}
  
.iconos:hover {
    transform: scale(1.1);
    transition: all 150ms ease;
}
  
.derechos {
    color: white;
    background: black;
    display: block;
    text-align: center;
}
  
/*FIN DEL FOOTER*/

  



















@media only screen and (max-width: 769px) {

    .img-saludo {
    width: 148%;
    height: 521px;
    margin-top: 103px;
    }

    .text-saludo {
        position: absolute;
        top: 49%;
        right: -41%;
        margin: 0% 20%;
        text-align: center;
        color: white;
    }

    .boton-cv {
        height: 36px;
        width: 40%;
        background: gold;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0px 20%;
    }

}











@media only screen and (max-width: 700px) {

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .header .logo {
      cursor: pointer;
      margin-right: 0;
  
    }
  
    .checkbtn {
      display: block;
    }
  
    .menu-icon {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    
    .nav-menu ul {
      display: block;
      position: fixed;
      top: 70px;
      left: -100%;
      background: rgb(20, 20, 20);
      width: 100%;
      height: 100vh;
      right: 0;
    }
  
    .nav-menu ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0;
      background: rgb(20, 20, 20);
    }
    .nav-menu ul li:last-child {
      background: none;
      padding: 1rem;
    }
  
    #check:checked ~ ul {
      left: 0;
      transition: all 0.25s;
      left: 0;
      transition: all 0.25s;
      display: grid;
      justify-items: center;
      align-items: center;
      height: 80%;
      margin-top: 12%;
    }

    .img-saludo {
        margin-top: 46px;
    }

    .text-saludo {
        margin: 0% 19%;
        top: 32%;
    }

    .acerca-de-mi {
        padding-top: 54%;
        text-align: center;
    }

    .datos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin: 1% 20%;
    }

    .img-contacto {
        width: 50px;
        margin: 5% 4% 0% 4%;
    }

    
    .info-datos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boton-cv {
        display: block;
        margin: auto;
        margin-bottom: 8%;
        width: 23%;
        height: 35px;

    }
    

    .card-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 380px;
        background-color: gold;
        border-radius: 7px;
        padding: 1rem;
        color: indigo;
    }

    .tarjetas img {
        width: 178px;
        border-radius: 7px;
    }

    .slider-1 {
        width: 178px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide-1 {
        width: 20%;
        transition: 2s;
        /*margin-left: 10%;*/
    }

    .slider-2 {
        width: 178px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slide-2 {
        width: 20%;
        transition: 2s;
        /*margin-left: 10%;*/
    }

    .slider-3 {
        width: 178px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slide-3 {
        width: 20%;
        transition: 2s;
        /*margin-left: 10%;*/
    }






    .navegacion-manual-1 {
        position: absolute;
        width: 179px;
        margin-top: -394px;
        display: flex;
        justify-content: center;
    }

    .manual-btn-1:not(:last-child) {
        margin-right: 14px;
    }

    .navegacion-auto-1 {
        position: absolute;
        display: flex;
        width: 179px;
        justify-content: center;
        margin-top: 106px;
    }

    .navegacion-auto-1 div:not(:last-child) {
        margin-right: 14px;
    }





    .navegacion-manual-2 {
        position: absolute;
        width: 179px;
        margin-top: -394px;
        display: flex;
        justify-content: center;
    }

    .manual-btn-2:not(:last-child) {
        margin-right: 14px;
    }

    .navegacion-auto-2 {
        position: absolute;
        display: flex;
        width: 179px;
        justify-content: center;
        margin-top: 106px;
    }

    .navegacion-auto-2 div:not(:last-child) {
        margin-right: 14px;
    }





    .navegacion-manual-3 {
        position: absolute;
        width: 179px;
        margin-top: -394px;
        display: flex;
        justify-content: center;
    }

    .manual-btn-3:not(:last-child) {
        margin-right: 14px;
    }

    .navegacion-auto-3 {
        position: absolute;
        display: flex;
        width: 179px;
        justify-content: center;
        margin-top: 106px;
    }

    .navegacion-auto-3 div:not(:last-child) {
        margin-right: 14px;
    }





    .tarjetas input {
        margin: auto;
        height: 32%;
        width: 52%;
        background: red;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .tarjetas input:hover {
        transform: scale(1.1);
        transition: all 150ms ease;
    }


    

  }  































  @media only screen and (max-width: 426px) {
    .img-saludo {
        margin-top: 78px;
        width: 100%;
        height: 40%;
    }

    .info-datos {
        margin-bottom: 10%;
    }

    .text-saludo{
        font-size: 11px;
        margin-left: 25%;
        position: relative;
        margin-top: 20%;
    }

    .acerca-de-mi {
        padding-top: 17%;
    }

    .datos {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0% 20%;
        grid-gap: 3%;
    }

    .img-contacto-2 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .boton-cv {
    height: 35px;
    width: 40%;
    background: gold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    }

    .experiencias {
        grid-gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        margin: 0 20%;
    }

    .xp {
        grid-template-columns: 11% 89%;
    }

    .testimonios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 , auto);
        grid-gap: 1rem;
        margin: 0 20%;
    }

    .referencias {
        grid-template-columns: 20% 80%;
    }



    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0 14%;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        background-color: gold;
        border-radius: 7px;
        padding: 1rem;
        color: indigo;
    }

    .tarjetas img {
        width: 291px;
        border-radius: 7px;
    }

    .slider-1 {
        width: 291px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide-1 {
        width: 20%;
        transition: 2s;
    }

    .navegacion-manual-1 {
        position: absolute;
        width: 282px;
        margin-top: -330px;
        display: flex;
        justify-content: center;
    }

    .navegacion-auto-1 {
        position: absolute;
        display: flex;
        width: 282px;
        justify-content: center;
        margin-top: 170px;
    }


    .slider-2 {
        width: 291px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide-2 {
        width: 20%;
        transition: 2s;
    }

    .navegacion-manual-2 {
        position: absolute;
        width: 282px;
        margin-top: -330px;
        display: flex;
        justify-content: center;
    }

    .navegacion-auto-2 {
        position: absolute;
        display: flex;
        width: 282px;
        justify-content: center;
        margin-top: 170px;
    }


    .slider-3 {
        width: 291px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide-3 {
        width: 20%;
        transition: 2s;
    }

    .navegacion-manual-3 {
        position: absolute;
        width: 282px;
        margin-top: -330px;
        display: flex;
        justify-content: center;
    }

    .navegacion-auto-3 {
        position: absolute;
        display: flex;
        width: 282px;
        justify-content: center;
        margin-top: 170px;
    }

    #testimonios-nav {
        margin: 5% 20% 1rem 20%;
        text-align: center;
    }




    
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 43% 30% 30%;
        background-color: rgb(30, 30, 30);
    }

    /*.bloque2 a {
        padding-top: 1rem;
    } */

    .JAPP-KING {
        margin: 15px auto;
    }



  }



  @media only screen and (max-width: 320px) { 



  }
